
.leftMenu{
  width: 200px;
  height: 1000px;
  background: #001529;
  transition: all 0.3s;
  .change_button{
    width: 200px;
    border-radius: 0;
    background: #001529;
    border-color: #001529;
    transition: all 0.3s;
  }
}